################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HangMan/v16/Server/sqlite3
/obj
/bin/Debug/netcoreapp3.1
/.vs/HangMan/v16
